<div class="right" style="height: auto;">
<h1>Наші послуги</h1>
<h2>Про послуги</h2>
<p>Дизайн Студія Миколи Вороніна надає повний спектр дизайнерських послуг. Ми можемо розробити дизайн Вашої візитної картки, а можемо і придумати та оформити Вашу нову торгову марку та створити корпоративні скерування («бренд бук»), в якому опишемо, як працювати з Вашим новим логотипом та фірмовим стилем, як правильно оформити вітрини та службовий транспорт.</p>
<h2>Дизайн</h2>
<p>Студія розробляє різноманітні дизайни для різноманітних речей: флаер, візитка, новий логотип, фірмовий стиль – ми виконаємо все креативно та професійно.</p>
<h2>Фірмовий стиль</h2>
<p>Одним з ключових напрямків роботи нашої студії є розробка фірмових стилів для торгових марок та підприємств. Ми придумаємо найвідповіднішу назву для Вашої торгової марки чи підприємства з врахуванням позиціонування і цільової аудиторії та гармонійно підкріпимо її дизайнерськими рішеннями (логотип, колористика, шрифтові рішення і т.п.). А в разі потреби створимо і бренд бук для того, щоб усі працівники в усіх філіалах Вашої компанії знали, як правильно працювати з торговою маркою.</p>
<h2>Створення веб-сайтів</h2>
<p>Створення різноманітних веб-сайтів, веб-сторнок, починаючи від сайтів візиток і закінчуючи складними інформаційними порталами або каталогами. В розробці ми використовуємо найсучасніші технології програмування Ruby on Rails, Ajax та верстки XHTML, CSS, а усі сайти вже «з коробки» мають першу ступінь оптимізації під пошукові системи.</p>
<h2>Domains and hosting</h2>
<p>Усі наші веб-проекти ми розміщуємо(hosting) на нашому власному сервері, який фізично розташований в точці обміну трафіком «UA-IX Київ» і має вхідний та вихідний канал до 1Гігабіту. Ми гарантуємо роботу 99% часу 24/7.
Придбання та обслуговування Ваших доменних імен ми теж візьмемо на себе. В результаті чого Вам не доведеться втрачати значну частину свого часу на намагання налаштувати домен або систему корпоративної пошти на ньому.</p>
<h2>SEO</h2>
<p>Важливим етапом в розвитку та просуванні новоствореного веб-ресурсу є оптимізація під пошукові системи та просування в їх рейтингах. Ми надаємо повний комплекс послуг в даному напрямку та гарантуємо результат.</p>
<p>SEO (СЕО) —  Search Engine Optimisation — оптимізація веб-сайту під такі пошукові системи як Google, Meta, Yandex та інші.  SEO (СЕО) це —  комплекс дій для підняття позиції вашого сайту у пошуковій системі при пошуку по певних фразах та ключових словах, які найкраще відповідають специфіці Вашого бізнесу. Використання інструментів Інтернет-маркетингу —  найефективніший спосіб підвищити конкурентність фірми на ринку та виділитися серед безлічі подібних компаній. Завдяки професійній оптимізації сайту потенційні клієнти легко можуть знайти Ваш сайт у всесвітній мережі Інтернет.</p>
<h2>Підтримка</h2>
<p>Ми розуміємо, що просто створити хороший веб-сайт дуже важливо, але мало. Потрібно, щоб він функціонував 24/7, а користувачі (потенційні клієнти) завжди отримували свіжу інформацію з нього. Тому ми пропонуємо нашим клієнтам долучитись до системи підтримки та ведення веб-сайту нашими працівниками, що в результаті дасть Вам можливість, не затрачаючи на це багато часу, завжди мати свіжу та актуальну інформацію про Ваше підприємство та його послуги.</p>
<h2>Оформлення інтер’єрів та екстер’єрів</h2>
<p>Серед робіт нашої дизайн студії почесне місце посідають спільні проекти з найкращими молодими архітекторами Львова в області інтер’єрного та екстер’єрного дизайну. Фасадні вивіски, світлові касетони, різноманітні таблички, навігаційні елементи в приміщеннях – все це ми можемо розробити ти виготовити на найвищому рівні.
Нашим партнером в виготовленні рекламних світлових конструкцій є агенція зовнішньої реклами «МедіаРекс».</p>
<h2>Консультації</h2>
<p>Ви невпевнені, які саме кроки щодо назви, дизайну та просування торгової марки або продукту чи послуги потрібно здійснити? Ви невпевнені, який саме та за якими технологіями веб-сайт Вам потрібно? Як правильно провести оптимізацію під пошукові системи (SEO) та які шляхи рекламної компанії в Інтернеті обрати? Чи підходить Вам дане приміщення для розпочинання торгової діяльності?
На ці та багато інших питань ми зможемо дати Вам відповідь під час консультацій. Ми застосовуємо весь свій досвід та всі свої знання для того, щоб Ви могли прийняти правильні рішення.</p>
<h2>Друк</h2>
<p>Для досягнення максимальної якості друку з мінімальними затратами часу ми співпрацюємо з друкарнею PrintOK. При роботі з ними в нас ніколи не виникне питання щодо формату оригінал макетів, розмірів чи відповідності чорного кольору.
Також ми організовуємо доставку друкованого тиражу.</p>
</div>