<span class="small-frame iePNG"><%= image_tag("/images/blank.gif", :style=>"width: 300px; height: 173px; border:none;", :class=> "iePNG", :title=>item.name, :alt=>item.name) %></span>
<%= image_tag(item.thumb.url(:small), :alt=>item.name, :title=>item.name) %>
