<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Дизайн студія Миколи Вороніна. Львів.
    </title>
  </head>
  <body>
    <div align="center">
      <div style="font-size: 11px; padding-bottom: 5px; color: rgb(76, 76, 76); line-height: 12px; font-family: Helvetica,Arial,sans-serif;">If you have trouble reading this email, <a href="http://trigger.behance.net/view/bxl.481/6b3c0311" style="color: #4C4C4C;">click here</a></div>

      <table style="text-align: left; width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
        <tr>
          <td height="137" colspan="2">
            <div style="height: 127px; background-color: #242424;">
              <div style="padding: 60px 20px 0px 25px;">
                <table cellspacing="0" cellpadding="0" bgcolor="#242424" style="width: 555px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                  <tr>
                    <td valign="top">
                      <img src="http://behance.vo.llnwd.net/newsletter_images/benetwork.gif" alt="Behance Network" title="Behance Network" />

                    </td>
                    <td valign="top" align="right">
                      <div style="padding: 15px 0px 3px; color: #c1c1c1; text-align: right;">
                        Latest Update
                      </div>
                      <div style="color: #FFF; text-align: right;">
                        Mar 22nd 2010
                      </div>
                    </td>
                  </tr>

                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="background-color: #ebebeb; margin: 0px 0px 11px; padding: 19px 0px 19px 16px;">
              <table cellspacing="0" cellpadding="0">

                <tr>
                  <td valign="top" width="350">
                    <div style="width: 301px; padding: 0px 0px 3px; border-bottom: solid 1px #A7A7A7; margin: 0px 0px 15px;">
                      <div>
                        <img src="http://behance.vo.llnwd.net/newsletter_images/latest_news.gif" alt="Latest News" title="Latest News" />
                      </div>
                    </div>
                    <div style="padding: 0px 0px 22px; width: 280px;">
                      <div style="padding: 0px 0px 3px;">

                        <a href="http://" style="text-decoration: none; font-size: 14px; font-weight: bold; color: #009CEC;">Announcing Network 2.0</a>
                      </div>
                      <div style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        <br />
                        After months of tireless commitment from the Behance team, we're excited to break the silence and announce that Behance Network 2.0 is coming soon! A big thanks to anyone who's submitted feedback, suggestions, and feature requests; we've been listening, and the time has come for your ideas to be realized. We can't wait for you to see the results and enjoy the new experience.<br />
                        <br />
                        Stay tuned for details on this Spring's launch.
                      </div>

                    </div>
                  </td>
                  <td valign="top">
                    <div style="width: 215px; padding: 0px 0px 3px; border-bottom: solid 1px #A7A7A7; margin: 0px 0px 15px;">
                      <div>
                        <img src="http://behance.vo.llnwd.net/newsletter_images/latest_gigs.gif" alt="Latest Gigs" title="Latest Gigs" />
                      </div>
                    </div>
                    <div style="padding: 0px 0px 9px; width: 215px; margin: 12px 0px 0px; border-bottom: dotted 1px #A7A7A7;">

                      <div style="padding: 0px 0px 2px;">
                        <a href="http://trigger.behance.net/h/bxl.481/aqo3e/1/ad6821ca" style="text-decoration: none; font-weight: bold; color: #009CEC; font-size: 12px; line-height: 17px;">Community Account Manager</a>
                      </div>
                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        (mt) Media Temple
                      </div>
                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        Culver City, CA
                      </div>

                    </div>
                    <div style="padding: 0px 0px 9px; width: 215px; margin: 12px 0px 0px; border-bottom: dotted 1px #A7A7A7;">
                      <div style="padding: 0px 0px 2px;">
                        <a href="http://trigger.behance.net/h/bxl.481/aqo3f/2/54437801" style="text-decoration: none; font-weight: bold; color: #009CEC; font-size: 12px; line-height: 17px;">Wedding and Commercial Cinematographer</a>
                      </div>
                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        stillmotion
                      </div>
                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">

                        Mississauga, Ontario, Canada
                      </div>
                    </div>
                    <div style="padding: 0px 0px 9px; width: 215px; margin: 12px 0px 0px; border-bottom: dotted 1px #A7A7A7;">
                      <div style="padding: 0px 0px 2px;">
                        <a href="http://trigger.behance.net/h/bxl.481/aqo3g/3/01ab01fc" style="text-decoration: none; font-weight: bold; color: #009CEC; font-size: 12px; line-height: 17px;">Senior Designer</a>
                      </div>
                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        JVST, Inc.
                      </div>

                      <div style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #4C4C4C; line-height: 17px;">
                        San Francisco, CA
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div style="width: 565px; padding: 50px 0px 3px; border-bottom: solid 1px #A7A7A7; margin: 0px 0px 10px;">
                <table cellspacing="0" cellpadding="0">

                  <tr>
                    <td>
                      <img src="http://behance.vo.llnwd.net/newsletter_images/featured_projects_txt.gif" alt="Featured Projects" title="Featured Projects" border="0" />
                    </td>
                    <td>
                      <a href="http://trigger.behance.net/h/bxl.481/5o3sa/4/1be62e7c" target="_blank"><img src="http://behance.vo.llnwd.net/newsletter_images/featured_p_see_all.gif" alt="View All Featured Projects" title="View All Featured Projects" border="0" /></a>
                    </td>
                  </tr>
                </table>

              </div>
              <table cellspacing="0" cellpadding="0" style="width: 100%;">
                <tr>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>

                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/ammyn/5/3364dfff" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=446828&amp;width=185x" alt="MSN TALK" title="MSN TALK" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/ammyn/6/4131de8b" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">MSN TALK</a>

                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/ammyo/7/78e0d1d1" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Umeric</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/a9me7/8/f357b9c6" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Television</a>, <a href="http://trigger.behance.net/h/bxl.481/5ufz4/9/f5146e7f" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Branding</a>
                              </div>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>

                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/akh94/a/d41b5734" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=440561&amp;width=185x" alt="ICONIC campaign 2010" title="ICONIC campaign 2010" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">

                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/akh94/b/99d74caf" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">ICONIC campaign 2010</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/akh95/c/ad2158d8" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Adriana Gerasimova</a>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3se/d/d809b159" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Art Direction</a>
                              </div>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>

                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3h/e/db91f644" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=425324&amp;width=185x" alt="Lego Boardroom Table" title="Lego Boardroom Table" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">

                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3h/f/e86cda14" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Lego Boardroom Table</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/aqo3i/g/3448d8dd" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">abgc</a>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5ufzj/h/616af768" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Design</a>, <a href="http://trigger.behance.net/h/bxl.481/a9kar/i/f2f134da" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Furniture Design</a>
                              </div>
                            </td>

                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3j/j/28d07f32" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=408164&amp;width=185x" alt="Kraken Rum" title="Kraken Rum" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3j/k/8c5be280" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Kraken Rum</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/aqo3k/l/c778b61a" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Charmaine Choi</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/a9kbe/m/d1c93981" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Advertising</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3se/n/72b57353" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Art Direction</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/an5c4/o/d05ed0ce" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=448470&amp;width=185x" alt="Carnival Paper - paper sculptures" title="Carnival Paper - paper sculptures" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/an5c4/p/e6296d62" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Carnival Paper - paper sculptures</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/an5c5/q/848a4822" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Carlos Meira</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3t9/r/4cb502bf" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Illustration</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/admu0/s/eb085657" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=418305&amp;width=185x" alt="HPL" title="HPL" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/admu0/t/1b5ffa39" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">HPL</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/admf6/u/963988ec" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Marc DA CUNHA LOPES</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3sm/v/d4f565e2" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Photography</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3t2/w/f9e8b2cc" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Fashion</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>

                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3l/x/c0c55269" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=367111&amp;width=185x" alt="Fearless Leaves" title="Fearless Leaves" border="0" /></a>
                            </td>
                          </tr>

                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3l/y/fafafd6f" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Fearless Leaves</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">

                                    <a href="http://trigger.behance.net/h/bxl.481/aqo3m/z/6bf8ce7e" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Jordan Metcalf</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">

                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3sp/10/644b7f48" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Typography</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3t9/11/199ed2dc" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Illustration</a>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>

                    </div>
                  </td>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3n/12/5bc5c747" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=373645&amp;width=185x" alt="paintings with persons (oil/canvas)" title="paintings with persons (oil/canvas)" border="0" /></a>

                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3n/13/de0e1c06" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">paintings with persons (oil/canvas)</a>

                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/am73g/14/5aab7d32" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Andreas M. Wiese</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/a9k74/15/aa2e1c30" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Painting</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3sl/16/03b43909" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Fine Arts</a>
                              </div>
                            </td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div style="width: 185px;">
                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>

                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3o/17/0e6c8558" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=420263&amp;width=185x" alt="Logos 2005/2010" title="Logos 2005/2010" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">
                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">

                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3o/18/c41b49d3" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Logos 2005/2010</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/aatha/19/deec1305" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Robinsson Cravents</a>
                                  </div>
                                </div>
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5ufz4/1a/35e96a33" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Branding</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3se/1b/644b7f48" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Art Direction</a>
                              </div>
                            </td>

                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3p/1c/8574c88e" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=444207&amp;width=185x" alt="WorkSafe Victoria. Big Mouth Zine." title="WorkSafe Victoria. Big Mouth Zine." border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3p/1d/455cac2c" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">WorkSafe Victoria. Big Mouth Zine.</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/am21n/1e/caa84046" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">David Ponce de Leon</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3se/1f/ad40495b" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Art Direction</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top" style="width: 190px;">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/anhpa/1g/e42908cb" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=443993&amp;width=185x" alt="Nissyoku - lighting design" title="Nissyoku - lighting design" border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/anhpa/1h/a3fe17f6" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Nissyoku - lighting design</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/am3qe/1i/e5ce393f" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">igendesign</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5ufzj/1j/628b977f" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Design</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3tc/1k/c9e47753" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Industrial Design</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td valign="top">
                    <div style="width: 185px;">

                      <div style="margin: 0px 0px 13px;">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3q/1l/ec4646d9" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;"><img src="http://behance.vo.llnwd.net/serveImage.php?id=447444&amp;width=185x" alt="COACD top 25 " title="COACD top 25 " border="0" /></a>
                            </td>
                          </tr>
                          <tr height="65" style="height: 65px;">
                            <td height="65" style="height: 65px; vertical-align: top; background-color: #242424;">

                              <div style="height: 65px;" height="65">
                                <div style="padding: 4px 6px;">
                                  <div style="padding: 0px 0px 2px; font-size: 12px; line-height: 16px;">
                                    <a target="_blank" href="http://trigger.behance.net/h/bxl.481/aqo3q/1m/7e4dcbf6" style="text-decoration: none; color: #FFF; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">COACD top 25</a>
                                  </div>
                                  <div style="font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                    <a href="http://trigger.behance.net/h/bxl.481/aloqx/1n/8b588449" style="text-decoration: none; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">Jenny Mörtsell</a>
                                  </div>

                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 25px; background-color: #FFF; vertical-align: top;">
                              <div style="padding: 6px 6px 0px; font-size: 11px; font-family: Arial, Helvetica; color: #009CEC;">
                                <a href="http://trigger.behance.net/h/bxl.481/5o3t9/1o/43c5d9f6" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Illustration</a>, <a href="http://trigger.behance.net/h/bxl.481/5o3t8/1p/43c5d9f6" style="text-decoration: none; font-size: 10px; font-family: Arial, Helvetica; color: #009CEC;">Drawing</a>

                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>

            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" style="width: 600px;">
              <tr>
                <td valign="top" style="width: 300px; background-color: #ebebeb;">
                  <div style="width: 300px;">

                    <div style=" padding: 13px 30px 19px 16px;">
                      <div style="width: 235px; height: 165px;">
                        <div style="font-size: 12px; padding: 0px 0px 3px; border-bottom: solid 1px #A7A7A7; margin: 0px 0px 9px;">
                          Sponsorship
                        </div>
                        <div style="margin: 0px 0px 10px;">
                          <a href='http://trigger.behance.net/h/bxl.481/a9jm5/1q/b17d6ef7' target='_blank'><img src='http://d1.openx.org/avw.php?zoneid=32980&amp;cb=INSERT_RANDOM_NUMBER_HERE' border='0' alt='' /></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </td>
                <td style="width: 9px;">
                  &nbsp;
                </td>
                <td valign="top" style="width: 300px; background-color: #ebebeb;">
                  <div style=" padding: 13px 25px 19px 35px;">
                    <div style="width: 230px; height: 165px;">

                      <div style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 17px; padding: 0px 0px 3px; border-bottom: solid 1px #A7A7A7; margin: 0px 0px 9px;">
                        To unsubscribe or change your e-mail options, sign in to your account:
                      </div>
                      <div>
                        <a href="http://trigger.behance.net/h/bxl.481/5o3tj/1r/8cf4b6cc" style="color: #009CEC; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 17px;">http://www.behance.net/My_Account</a>
                      </div>
                    </div>
                  </div>
                </td>

              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>

<p><small>If you believe this has been sent to you in error, please safely <a href="http://trigger.behance.net/oc/bxl.481/2b347a73">unsubscribe</a>.</small></p>